<!-- app/views/postulaciones/create.html.erb -->
<h1>Postulación Exitosa</h1>
<p>Te has postulado a la oferta laboral: <%= @oferta_laboral.titulo %></p>

<%= link_to 'Volver a las Ofertas Laborales', ofertas_laborales_path, class: 'btn btn-primary' %>