<h1 class="text-center">Mis Postulaciones</h1>
<div class="container mt-4">
  <% if @postulaciones.any? %>
    <table class="table table-bordered text-center">
      <thead>
        <tr>
          <th>Oferta Laboral</th>
          <th>Fecha de Postulación</th>
          <th>Empresa</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @postulaciones.each do |postulacion| %>
          <tr>
            <td><%= postulacion.oferta_laboral.titulo %></td>
            <td><%= postulacion.created_at.strftime("%d/%m/%Y") %></td>
            <td><%= postulacion.oferta_laboral.empresa %></td>
            <td>
              <% if postulacion.cv.attached? %>
                <%= link_to "Descargar CV", rails_blob_path(postulacion.cv, disposition: "attachment"), class: "btn btn-descargar-cv" %>
              <% else %>
                No hay CV disponible
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="text-center">No tienes postulaciones registradas.</p>
  <% end %>
</div>
