<h1>Nueva Postulación Recibida</h1>

<p>Hola Esteban,</p>

<p>Un nuevo usuario se ha postulado para la oferta laboral:</p>

<p><strong>Título de la Oferta:</strong> <%= @oferta_laboral.titulo %></p>
<p><strong>Usuario:</strong> <%= @postulacion.user.nombre_completo %></p>
<p><strong>Email del Usuario:</strong> <%= @postulacion.user.email %></p>

<p>Para más detalles, visita la aplicación.</p>